[Unit]
Description=Streamlit Web App
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/opt/programming_planet/start-app.sh
Restart=on-failure
RestartSec=15
KillMode=control-group

[Install]
WantedBy=multi-user.target